<html>
<body>
    <h2>
        Er inne his adminside!
    </h2>
    <div>
        <input type="button" class="btn btn-primary" value="Logg ut" onclick="location.href='@Url.Action("loggUt","Kunde")'" />
    </div>
</body>
</html>