@model Nettbanken.Models.Kunde

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Endre</title>
</head>
<body>
    <div>
    
    </div>
</body>
</html>
