
<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Velkommen til Nettbanken</title>
    </head>

    <body>
        <div>
            @Html.ActionLink("Kunderegistrering","kundeRegistreringView")
        </div>
        <div>
            @Html.ActionLink("Kunde Logginn","kundeLogginnView")
        </div>
    </body>
</html>