

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kunde Logginn</title>
</head>

<body>
    <div><h2>Velkommen til Hjemmesiden din!</h2></div>
</body>
</html>