

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kunde Logginn</title>
</head>

<body>
    <div><h2>Velkommen til Hjemmesiden din!</h2></div>
    <div>Jaja! Det virker til å fungere fint :)</div>
    <div>
        @Html.ActionLink("Logg ut", "loggUt", new { tom = ""}, new { @class = "btn btn-primary"})
    </div>
</body>
</html>