
<!DOCTYPE html>

<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title> View for testing av innsetting og henting av data</title>
    </head>
    
<!--Midlertidig test view for aksessering av ulike registreringer-->
    <body>
        <div>
            <h3>Linker til ulike registereringer (TEST)</h3>
            <table>
                    <tr><td><a href="/Kunde/AdminView">Admin Registrering</a></td></tr>
                    <tr><td><a href="/Kunde/KundeView">Kunde Registrering</a></td></tr>
                    <tr><td><a href="/Kunde/TransaksjonView">Transaksjon Registrering</a></td></tr>
            </table>
        </div>
    </body>
</html>