@model Nettbanken.Models.Transaksjon

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title> View for testing av innsetting og henting av data</title>
    </head>
    <body>
        <h4>
            Transaksjon Registrering
        </h4>
        <!--Aksesserer TransaksjonView metoden i KundeController-->
        <form action="/Kunde/TransaksjonView" method="post">
            <table>
                <tr><td>Status</td></tr>
                <tr><td><input type="text" name="status" /></td></tr>

                <tr><td>Saldo Inn</td></tr>
                <tr><td><input type="text" name="saldoinn" /></td></tr>

                <tr><td>Saldo Ut</td></tr>
                <tr><td><input type="text" name="saldout" /></td></tr>

                <tr><td>Dato</td></tr>
                <tr><td><input type="text" name="dato" /></td></tr>

                <tr><td>KID</td></tr>
                <tr><td><input type="text" name="kid" /></td></tr>


                <tr><td>Fra Konto</td></tr>
                <tr><td><input type="text" name="frakonto" /></td></tr>

                <tr><td>Til Konto</td></tr>
                <tr><td><input type="text" name="tilkonto" /></td></tr>

                <tr><td>Melding</td></tr>
                <tr><td><input type="text" name="melding" /></td></tr>

                <tr><td><input type="submit" value="Registrer" /></td></tr>
                <tr><td><a href="/Kunde/TestView">Tilbake til Forside</a></td></tr>
            </table>
        </form>
    </body>
</html>
