html,body
{
width:100%;height:100%
}

body
{
height:100%;
font-family:'Open Sans',sans-serif;
background-color:#808080;
}

.header
{
margin-left:auto;
margin-right:auto;
margin-top:150px;
max-width:430px;
min-height:400px;
border-radius:2px;
box-shadow:0 15px 15px rgba(0,0,0,0.3);
}

.header-container
{
background:none repeat scroll rgba(245,245,245,0.8);
padding:10px 0;
border-top-left-radius:3px;
border-top-right-radius:3px;
border-bottom-left-radius:0;
border-bottom-right-radius:0;
}

.logo
{
margin:0 auto;
display:block;
height:50px;
width:170px
}

.footer-container
{
min-height:60px;
background:none repeat scroll rgba(245,245,245,0.8);
padding:10px 40px;
border-top-left-radius:0;
border-top-right-radius:0;
border-bottom-left-radius:3px;
border-bottom-right-radius:3px;
}

.logginn-container
{
min-height:300px;
padding:30px 40px;
background-color:#FAFBFD;
}
.form-btn, .form-btn:hover, .form-btn:active, .form-btn:focus{
    color: #FFFFFF;
    border-radius: 2px;
    border: none;
    background-color: #7fc37e;
    transition: background-color 300ms ease-out;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    -o-transition: background-color 300ms ease-out;
    display: block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
}
